<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Deal Breaker</title>
 
 
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">


 
</head>
 
<body>

 
    <div class="container">
        <div class="jumbotron">
            <h3>Deal Breaker</h3>
              <form class="form-signin" action="/process" method="POST">
                        <textarea  rows="10" cols="50" name="input" id="input" class="form-control"  required autofocus></textarea>
            <p class="lead"></p>
            <p>        <button type="submit" id="btnSignUp" class="btn btn-lg btn-primary btn-block" type="button">Process</button>

            </p>
              </form>
        </div>
 
        
 
        <footer class="footer">
            <p>A hack by Midnight Hunter</p>
        </footer>
 
    </div>
</body>
 
</html>
